// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #FDB631;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-blue: #005874;
$sky-blue: #1C819E;
$light-gray: #E6E6E6;
$nice-yellow: #FFBE00;
$dark-purple: #9214C0;
$purple: #912AD1;
$black: #3B3B3B;


$blue: #232955;
$orange: #d4642b;


$light-orange: #ff5f2e;