<h3><%= @user.name %>, welcome to sAppiens!! </h3>

<p> Click the link below for the lastest opportunities to find out more about your future profession! </p>
<%= link_to "Careers", experiences_url, class: "btn btn-success" %>
