.booking-title {

color: black;
font-size: 10px;

}

.booking-details h2 {

color: #ff5f2e;


}

.btn-treehouse {

  color: white;
  padding: 5px 40px;
  border-radius: 10px;
  background: #ff5f2e;
  transition: background 0.3s ease;
}