.exp-banner {
  display: flex;
  height: 30vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  background-position: center;
  background-size: cover;
  color: $orange;
  h1 {
    font-size: 3em;
  }
}

.exp-banner-content {
  margin-left: 100px;
}

.btn-treehouse {

  color: white;
  padding: 8px 40px;
  border-radius: 10px;
  background: #ff5f2e;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 2;
  background: #EC7063;
  text-decoration: none;
  color: white;
}

.flex-wrapper-exp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 100px;

}

.exp-info {
  flex: 1 1 auto;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  align-items: left;
  flex-direction: column;
  height: 50%;
  background-color: white;
  font-size: 15px;
  color: #ff5f2e;
}

.exp-info p {

  font-size: 15px;
  color: black;
}

.exp-dates {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.btn-whatever {
  background-color: #ff5f2e;
  color: white;
  padding: 5px 40px;
  border-radius: 10px;


}

.btn-whatever:hover {
  opacity: 2;
  background: #EC7063;
  text-decoration: none;
  color: white;
}
