.index-box {
  display: flex;
}

.exp-container {
  flex: 1 1 auto;
  height: calc(100vh - 140px);
  overflow-y: auto;
  overflow-x: hidden;
}

.experience-card {
  background-color: #232955;
  height: 240px;
  margin: 10px;
  padding: 16px;
  box-shadow: 1px 1px 1px 1px rgba(190, 190, 190, 0.7);
  display: flex;


}

.card-image {
  padding: 16px;
  margin-right: 8px;
  background-image: image-url('Web.jpg');
  background-position: center center;
  background-size: cover;
  flex: 0 0 auto;
  width: 200px;
  box-shadow: 1px 1px 1px 1px rgba(190, 190, 190, 0.7);
  border-radius: 5px;
}

.card-info {
  flex: 1 1 auto;
  min-width: 200px;
  padding: 16px;
  color: #ff5f2e;
  background-color: #232955;
  font-size: 22px;
}

.btn-whatever {

  color: #232955;
  background-color: #ff5f2e;
}

.card-price {
  padding: 16px;
  flex: 0 0 auto;
  width: 200px;
  border-left: 1px solid $gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #232955;
  color: #ff5f2e;
}

.map-wrapper {
  flex: 0 0 auto;
  width: 400px;
  margin: 20px;
  position: sticky;
  box-shadow: 1px 1px 1px 1px rgba(190, 190, 190, 0.7);
}

.sorry-box {
  margin: 50px;
}
