.exp-banner {
  display: flex;
  height: 30vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
  background-position: center;
  background-size: cover;
  color: $orange;
  
  h1 {
    font-size: 3em;
  }
}

.exp-banner-content {
  margin-left: 100px;
}


.booking-details {
  flex: 1 1 auto;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: left;
  flex-direction: column;
  background-color: white;
  font-size: 15px;
  color: #ff5f2e;

  p {
    font-size: 15px;
    color: black;
  }
}


.exp-dates {
  flex: 0 0 auto;
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
}


.calendar-wrapper {
text-align: center;
padding: 30px;

  h3{
    margin: 10px;
  }

}

