@media(max-width: 720px) {

   .mobile-bookings {
     margin-top: 2px;
   }

   .ratings-my {
     font-size: 8px;
   }

   .card-description-my-bookings {
     h2 {
       font-size: 18px !important;
     }
   }
 }

 .checked {
   color: $orange;
 }

 .card-my-bookings {
   height: 115px;
   color: gray;
   position: relative;
   background-color: white;
   margin-top: 24px;
   border-radius: 8px;
   padding: 3px;
   border-top: 3px solid #f4f4f2;

 }

 .ratings-my {

   position: absolute;
   right: 10px;
   top: 11 px;
   color: gray;

 }
 .card-category-my-bookings {
   position: absolute;
   right: 10px;
   top: 10px;
   font-size: 15px;
   text-transform: uppercase;
   font-weight: bold;
   color: gray;
 }
 .card-description-my-bookings {
   position: absolute;
   bottom: 0px;
   left: 10px;
   margin-top: 5px;
 }
 .card-description-my-bookings h2 {
   font-size: 23px;
   margin-top: 1px;
 }
 .card-description-my-bookings p {
   font-size: 14px;
   font-weight: lighter;
 }
 .card-link-my-bookings {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   z-index: 2;
   background: black;
   opacity: 0;
 }
 .card-link-my-bookings:hover {
   opacity: 0.1;
 } 