<h2>Booking confirmation</h2>
<p><%= current_user.name %>, do you confirm your booking for the <%= @experience.name %> experience? </p>
<p><%= @experience.description %>	
</p>
<%= link_to experience_bookings_path(@experience), method: :post do %><button type="button" class="btn btn-primary">Pay</button> <% end %>
