<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <h1>Booking: <%= @booking.experience.name%></h1>
      </div>
    </div>
  </div>
</div>