<div class="container-inv", url('<%= image_path "join_us.jpg" %>');">
	<div class="col-sm-12 col-md-6">
  	<div class="banner-inv-content">
  		<%= image_tag("join_us.jpg", class: "card-image")%>
			<h1>Make it happen with us!</h1>
    	<a class="btn btn-whatever">Invite Your Friends</a>  </div>
	</div>
