<h1 class="text-center">My Experiences</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
				<div class="card-category">Completed</div>
				<div class="card-description">
					<h2>Data Scientist</h2>
					<p>Career Overview with introduction to Python, Ruby and data tools. </p>
				</div>
				<%= image_tag 'scientist.jpg' %>
				<a class="card-link" href="#" ></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
				<div class="card-category">Completed</div>
				<div class="card-description">
					<h2>Growth Hacking</h2>
					<p>Valuable examples and case studies for aspiring growth hackers.</p>
				</div>
				<%= image_tag 'Web.jpg' %>
				<a class="card-link" href="#" ></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
				<div class="card-category">Completed</div>
				<div class="card-description">
					<h2>Machine Learning</h2>
					<p> Overview of statistical supervised and unsupervised learning methods and Bayesian learning methods</p>
				</div>
				<%= image_tag 'UX.jpg' %>
				<a class="card-link" href="#" ></a>
			</div>
		</div>
	</div>
</div>
