<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Rayancdc/sappiens"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright d-none d-md-block">
    This website was made by the sAppiens Team
    <a href="www.lewagon.com">@Le Wagon Bootcamp.</a>
  </div>
</div>
