<h3> The user <%= @booking.user.email %> have booked an experience your created!! </h3>

<p> Click the link below to access it in your dashboard! </p>
<%= link_to "Careers", bookings_url, class: "btn btn-success" %>
