<div class="banner">
    <div class="col-10 offset-1 col-md-6 offset-md-3">
      <div class="banner-content">
        <h3> Experience  </h3>
        <h4><span id="banner-typed-text"></span></h4>
        <p> Match your tech career, experiencing it.</p>
        <%= form_tag experiences_path, method: :get do %>
          <div class="search-wrap">
            <input type="text" placeholder="Try Data Analist or just hit Search" name="query" class="searchBar">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        <% end %>
      </div>
    </div>
</div>
