<div class="banner">
  <div class="banner-content text-left">
    <h2> Experience <span id="banner-typed-text"></span> </h2>
    <h3> Match your tech career, experiencing it.</h3>
    <div class="search-wrapper text-center">
      <%= form_tag experiences_path, method: :get, class: 'form-inline' do %>
        <div class="form-group">
          <%= search_field_tag :query, params[:query],
          placeholder: 'Try Product Manager',
          size: 60,
          class: 'form-control searchTerm' %>
          <div class="search-btn">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
