<div class="container">
	<div class="box-new">
		<div class="guidelines-title">
			<h3> 1- Make it happen with us, be a Partner Company now! </h3>
			<%= link_to new_user_company_path(current_user), method: :get do %><button type="button" class="btn btn-primary">Register my Company</button> <% end %>
			<h3> 2- Host an experience in your Company and help build the next tech talent generation! </h3>
			<%= link_to new_experience_path(@company), method: :get do %><button type="button" class="btn btn-primary">Create an Experience</button> <% end %>
		</div>
	