<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      	<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), img src='images/data-scientist.jpg');">
  		<div class="card-category">Main Suggestions</div>
  		<div class="card-description">
    			<h2>Data Scientist</h2>
    	<p>Experience Python, MongoDB and more... </p>
  	</div>
  	<a class="card-link" href="#" ></a>
	</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      	<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), img src=('images/web.jpg');">
  <div class="card-category">Main Suggestions</div>
  <div class="card-description">
    <h2>Web Designer</h2>
    <p>Learn CSS, HTML, Javascript fundamentals and more...</p>
  </div>
  <a class="card-link" href="#" ></a>
	</div>
    	</div>
    		<div class="col-xs-12 col-sm-4">
      		<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), img src=('images/UX.jpg');">
  		<div class="card-category">Main Suggestions</div>
  		<div class="card-description">
    	<h2>UX Designer</h2>
    	<p>Learn Trello, HTML, Adobe XD and more...</p>
  	</div>
  	<a class="card-link" href="#" ></a>
	</div>
    	</div>
  	</div>
	</div>