
		 <div class="container">
         <ul class="card">
         <li class="message">
        	<%= image_tag 'scientist.jpg', class: 'avatar-large' %>
          <div class="message-name">

           <h3><strong>Data Scientist</strong></h3>
           <p>10/07/18</p>
          </div>
          <div class="message-body">
           <p><strong>@ Google</strong></p>
           <p>
              Experience Python, MongoDB and more as one of the most promissing
              carrer of this century. Book today!
          </p>
          </div>
          <div class="message-status">
          <p class="status pending">Pending</p>
          <p class="price">R$345</p>
          </div>
          </div>
          <div class="container">
          <ul class="card">
		  </li>
          <li class="message">
          <%= image_tag 'Web.jpg', class: 'avatar-large' %>
          <div class="message-name">
            <h3><strong>Web Developer</strong></h3>
            <p>23/09/18</p>
          </div>
          <div class="message-body">
            <p><strong>@ Adobe</strong></p>
            <p>
              Experience the day of as a web developer and get insights about CSS, HTML, Javascript fundamentals and more.
				Book this day now!
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">Confirmed</p>
            <p class="price">R$345 </p>
          </div>
          </div>
          </div>
          <div class="container">
          <ul class="card">
          </li>
          <li class="message">
          <%= image_tag 'UX.jpg', class: 'avatar-large' %>
          <div class="message-name">
            <h3><strong>UX Design</strong></h3>
            <p>19/08/18</p>
          </div>
          <div class="message-body">
            <p><strong>@ YouTube</strong></p>
            <p>
              Experience a day as an UX Designer and learn how the best UX designers are creating new usabilities tools & metrics. Book today!
            </p>
          </div>
          <div class="message-status">
            <p class="status declined">Declined</p>
            <p class="price">R$230 </p>
          </div>
         </li>
         </ul>

         <div
          id="map"
          style="width: 100%;
          height: 600px;"
          data-markers="<%= @markers.to_json %>"
        ></div>

         </div>
