.btn-purple {
  background: $dark-blue;
  transition: all 0.3s ease;
  padding: 12px 16px;
  height: 48px;
  margin: 8px;
  color: white;
  font-family: $body-font;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  &:hover {
    background-color: darken($dark-blue, 2%);
    text-decoration: none;
  }
}

.btn-whatever {
  background-color: $light-orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  margin: 0 auto;
  border-radius: 5px;
  transition: background 0.3s ease;
  &:hover {
    background-color: darken($light-orange, 2%);
    text-decoration: none;
    color: white;
  }
}
