.payment-card {
 height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: orange;
  position: relative;
}

.card-my-experiences {
  background-image: linear-gradient(-225deg, rgba($orange, 0.3) 0%, rgba($black, 0.4) 100%),
  image-url('image-guidelines04.jpg');
  color: white;
  text-align: center;
  height: 40vh;
  background-size: cover !important;
  background-position: 50% 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}


.test-card {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  margin: 20px 10px ;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.3);
}

.test-card-content {
  height: 250px;
}
.test-card-description {
  overflow: hidden;
  max-height: 110px;
}

.test-card-button {
  position: absolute;
  bottom: 15px;
  right: 15px
}

.card-body {
  padding:30px;
  position: relative;
}

.trash {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1,5em;
  color: $purple;
  opacity: 0.8;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.pencil {
  position: absolute;
  top: 10px;
  right: 60px;
  font-size: 1,5em;
  color: $purple;
  opacity: 0.8;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.list-inline {
  padding-left: 0px;
}


